output/*
logs
target
/.idea
/.idea_modules
/.classpath
/.project
/.settings
/RUNNING_PID

bin/
.eclipse
/lib/
/logs/
/modules
/project/target
/target
project/project/
tmp/
test-result
server.pid
*.eml
/dist/
.cache
*.rdb
.DS_Store
.tag*
app/services/redis/
/logs/application.log
.sqitch/sqitch.conf
.sqitch/templates
.pgpass*
db/data
.ecr_token
.bsp
*.bloop
.metals
.vscode
metals.sbt
*.log